h1{
	color: whitesmoke;
	font-family: Arial;
}
h2{
	color: #718180;
	font-family: Arial;
	font-size: 12px;
}

.topnav {
	background-color: #004d4d;
	overflow: hidden;
	font-family: Arial;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 16px;
}

.topnav a:hover, .dropdown:hover .dropbtn {
	background-color: #99ffff;
	color: whitesmoke;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #f2f2f2;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #004d4d;
	min-width: 160px;
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: #f2f2f2;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
 	background-color: #99ffff;
	color: whitesmoke;
}

.dropdown:hover .dropdown-content {
	display: block;
}